/* TELA MÁXIMA 575PX */

@media (max-width: 575px) {
  #main .countdown div {
    width: 60px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #main .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #main .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }

  #main svg {
    max-width: 350px;
    max-height: 213px;
  }
  #main .countdown {
    top: 48%;
    left: 53%;
  }
}

/* TELA MÁXIMA 575PX E MÍNIMA DE 320PX */

@media (min-width: 421px) and (max-width: 500px) {
  #main .countdown {
    top: 48%;
    left: 54%;
  }
}
/* TELA MÁXIMA 575PX E MÍNIMA DE 320PX */

@media (min-width: 320px) and (max-width: 420px) {
  #main .countdown {
    top: 48%;
    left: 55%;
  }
}

/* TELA MÁXIMA 1200PX E MÍNIMA DE 872PX */

@media (min-width: 872px) and (max-width: 1200px) {
  #main .countdown {
    top: 48%;
    left: 52%;
  }
}

/* TELA MÁXIMA 870PX E MÍNIMA DE 578PX */

@media (min-width: 578px) and (max-width: 870px) {
  #main .countdown {
    top: 48%;
    left: 53.4%;
  }
}
